hr {
    color: grey;
    margin: 0 20px;
}

.breadcrumbs a {
    text-decoration-line: none;
    color: black;
}
.breadcrumbs {    
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.details {
    display: grid;
    grid-template-areas: 
    "c1 c2 c3"
    "c4 c5 c6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    gap: 30px;
    margin-left: 50px;
}

.details img {
    height: 700px;
    width: auto;
}

.item1 {
    grid-area: c1;
}
.item2 {
    grid-area: c2;
}
.item3 {
    grid-area: c3;
    text-align: center;
}
.item3 .uki {
    font-weight: bolder;
    color: rgb(3, 3, 95);
}
.item3 .safari {
    font-size: 21px;
}
.item4 {
    grid-area: c4;
}
.item5 {
    grid-area: c5;
}
.item6 {
    grid-area: c6;
}

.lastprice {
    text-decoration-line: line-through;
}

.actualprice {
    font-size: 25px;
}

.colorblue {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 3px solid white;
    outline: 1px solid darkblue;
    background-color: darkblue;
    border-radius: 50%;
}
.colortan {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 3px solid white;
    outline: 1px solid brown;
    background-color: brown;
    border-radius: 50%;
    margin-left: 30px;
}

.color {
    color: grey;
    font-size: 12px;
}

.sizes a {
    border: 1px solid grey;
    padding: 10px;
    background-color: lightgray;
    text-decoration-line: none;
    color: black;
}

.sizes a:hover {
    background-color: black;
    color: white;
}

.basket {
    text-transform: uppercase;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 40px;
    width: 300px;
    margin-left: 85px;
}
.basket:hover {
    opacity: 0.8;
}

.code {
    color: grey;
    font-size: 12px;
}

/* Responsive starts here */

@media screen and (max-width: 1200px) {
    .details img {
        height: 500px;
        width: auto;
    }
    .basket {
        width: 200px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .details img {
        height: 500px;
        width: auto;
    }
    .details {
        gap: 10px;
    }
    .basket {
        width: 200px;
        margin-left: 60px;
    }
    .sizes {
        font-size: 10px;
    }
}

@media screen and (max-width: 990px) {
    .basket {
        width: 150px;
        margin-left: 40px;
        font-size: 14px;
    }
    .sizes {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 840px) {
    .details {
        display: flex;
    }
    .item1 img {
        height: 500px;
        width: auto;
    }
    .item2, .item4, .item5, .item6 {
        display: none;
    }
}